<h1>WELCOME</h1>

<div class="text-center">
	<p>植物コミュニティ <strong>GROLIST</strong> へようこそ。</p>
	<p>植物に関する情報をシェアして、お互いがより豊かな暮らしを実現できる場所に・・・<br/>
		そんな思いで始めたGROLIST。<br/>
		登録はもちろん利用は完全無料ですので、お気軽にご参加ください。</p>


	<p>登録後は以下のご利用が可能です。</p>

	<div>
		<h3><strong>タネまき</strong><br/></h3>
		タネまきは、"呟き"です。どんなに小さなことでも構いません。<br/>
		”話のタネ”をたくさんまいて、他のユーザーと話の花を咲かせましょう。<br/>
		植物に関係するトピック限定です。<br/>
	</div>
	<div>
		<h3><strong>ブログ</strong><br/></h3>
		タネまきよりはもっと重量級のツールです。<br/>
		タネまきではできない”写真の投稿”が可能です。<br/>
		閲覧のみでももちろんOKです。<br/>
	</div>
	<div>
		<h3><strong>花屋シェアリング</strong><br/></h3>
		花屋は探せばたくさんありますが、GROWLISTでは<br/>
		ユーザーたちが本当に素敵だな、と気に入った花屋だけを投稿しています。<br/>
		"検索しても、本当に良い花屋なのかわからない・・・"<br/>
		そんな時は、シェアリングページで解決です。<br/>
	</div>
</div>