// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 768px){
	.body {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.flex {
		  background-color: #fff;
		  height: auto;
		  padding: 10px;
		  display: flex;
		  flex-direction: row;
		  flex-wrap: wrap;
		  justify-content: space-between;
		}
	.flex > div {
		  background-color: #fff;
		  width: 25vh;
		  margin: 5px;
		  font-size: 30px;
		}
}